* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #222;
}

a {
  color: #00B7FF;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.article {
  margin-bottom: 4rem;
}

.article:last-of-type {
  margin-bottom: 0;
}

.article-header {
  font-size: 80%;
  opacity: .8;
}

.article-content {
  margin: 1rem 0;
}

.article h2, .article p {
  margin: 0;
}

.article h2 {
  margin-bottom: .5rem;
}
